@using System.Linq;
@using DTO
@{
    var listaVersao = (IList<VersaoDTO>)ViewBag.lstVersao;

}


<div class="card-box table-responsive">
    <table class="dataTable table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="display:none"></th>
                <th>Nome</th>
                <th>Atual Produção</th>
                <th></th>
            </tr>
            <tr>
                <th style="display:none"></th>
                <th class="searchItem"></th>
                <th class="searchItem"></th>
                <th class="searchItem"></th>
            </tr>
        </thead>
        <tbody>
            @if (listaVersao != null)
            {
                foreach (var item in listaVersao)
                {
                    <tr>
                        <td style="display:none">@item.Id</td>
                        <td style="width: 30%">@item.Nome</td>
                        <td style="width: 30%">
                            @if (item.AtualProducao)
                            {
                                <span class="badge badge-success">Sim</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Não</span>
                            }
                        </td>
                        <td style="vertical-align:middle; width:10%">
                            <a class="btn pull-left btn-info" href="@Url.Action("Alterar", "Versao", new { id = item.Id})" title="Clique aqui para Editar.">Editar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>