<div class="modal fade bs-example-modal-lg" id="modalJogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width:800px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="tituloJogo">Adicionar Jogo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="divJogo"></div>
        </div>
    </div>
</div>